.navbar {
    transition: all 0.4s;
}
.navbar .nav-link {
    color: #fff2cf;
}
.navbar .nav-link:hover,.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}
.navbar .navbar-brand {
    color: #fff2cf;
}