.parent{
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(to bottom right, #0e54e0, #000102); */
    background-image: url('src/assets/spaceback.png');
    overflow-y: hidden;
    overflow-x: hidden;
}